@green: #67de99;
@greenDark: #54cb84;
@shadow: #4aba77;
@width: 317px;
@heigthSize: 50px;

.phone_btn_green {
  width: 200px;
  height: 50px;
  display: inline-block;
  opacity: 1;
  pointer-events: auto;
  box-shadow: 0 11px 25px -5px @shadow;

  &:hover {
    box-shadow: 0 11px 25px -8px @shadow;
  }
}

.phone-number_btn_green, .phone-button_btn_green {
  width: 100%;
  height: 50px;
  display: block;
  transform: translateZ(25px);
  pointer-events: none;
  //transition: background-color 0.25s ease;
}

.phone-number_btn_green {
  perspective: 200px;
  perspective-origin: 50% 50%;
  background-color: @green;
  transition: transform 0.4s;

}

.phone-button_btn_green {
  perspective: 200px;
  perspective-origin: 50% 50%;
  transform: translate3d(0, -25px, 25px) rotateX(-90deg);
  background-color: @greenDark;
  transition: transform 0.4s, background-color 0.4s;
  &:first-child {
    background-color: @green;
    transition: transform 0.4s;
  }
}

.phone_btn_green {
  width: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;

  &:hover {
    .phone-number_btn_green {
      transform: translate3d(0, -25px, 25px) rotateX(90deg);
    }
    .phone-button_btn_green {
      transform: translate3d(0, -50px, 25px) rotateX(0);
      background: @green;
    }
  }
}

.phone-number_btn_green, .phone-button_btn_green {
  width: auto;
  padding: 0 27px;
  display: block;
}

.cube {
  &_block {
    width: @width;
    height: @heigthSize;
    perspective: 500px;
    perspective-origin: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 15px 25px -3px @shadow;
    letter-spacing: 0.3px;
    transition: box-shadow 1s;
    &:hover {
      box-shadow: 0 15px 25px -6px @shadow;
    }
  }

  &_container {
    width: @width;
    height: @heigthSize;
    //border: 2px dotted red;
    transform-style: preserve-3d;
    transform: rotateX(-90deg);
    transition: transform 1s;
  }

  &_container:before,
  &_container:after {
    content: "";
    display: block;
    position: absolute;
    width: @width;
    height: @heigthSize;
    //border: 2px dotted red;
  }

  &_side {
    position: absolute;
    width: @width;
    height: @heigthSize;
    //border: 1px solid @greenDark;
    opacity: 1;
    line-height: @heigthSize;
    background: @green;
    transition: background 2s;
    &:nth-child(n+2) {
      background: @greenDark;
    }
  }

  &_back {
    transform: translateZ(- @width/2);
    transform: rotateZ(180deg);
    //background: orange;
  }

  &_front {
    transform: translateZ(@heigthSize/2);
    //background: gold;
  }

  &_top {
    transform: translateY(-@heigthSize/2) translateZ(0em) rotateX(90deg);
    //background: skyblue;
  }

  &_bottom {
    transform: translateY(@heigthSize/2) translateZ(0em) rotateX(-90deg);
  }

  &_left {
    transform: translateX(-@heigthSize/2) rotateY(90deg);
  }

  &_right {
    transform: translateX(@width/2) rotateY(90deg);
  }
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.b-f {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  &_wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    box-sizing: border-box;
  }
}
