@green: #67de99;
@greenDark: #54cb84;
@shadow: #4aba77;

.b-f {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  &_wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 10%;
    box-sizing: border-box;
  }
}

.cube {
  &_block {
    width: 200px;
    height: 60px;
    perspective: 500px;
    perspective-origin: center center;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 11px 25px 1px @shadow;
    transition: box-shadow 1s;
    &:hover {
      box-shadow: 0 11px 25px -5px @shadow;
    }
  }

  &_container {
    width: 200px;
    height: 60px;
    transform-style: preserve-3d;
    transform: rotateX(-90deg);
    transition: transform 1s;
  }

  &_container:before,
  &_container:after {
    content: "";
    display: block;
    position: absolute;
    width: 200px;
    height: 60px;
    //border: 2px dotted red;
  }

  &_side {
    position: absolute;
    width: 200px;
    height: 60px;
    //border: 1px solid @greenDark;
    opacity: 1;
    line-height: 60px;
    background: @green;
    transition: background 2s;
    &:nth-child(n+2) {
      background: @greenDark;
    }
  }

  &_back {
    transform: translateZ(-5em);
    transform: rotateZ(180deg);
    //background: orange;
  }

  &_front {
    transform: translateZ(30px);
    //background: gold;
  }

  &_top {
    transform: translateY(-30px) translateZ(0em) rotateX(90deg);
    //background: skyblue;
  }

  &_bottom {
    transform: translateY(30px) translateZ(0em) rotateX(-90deg);
    //background: steelblue;
  }

  &_left {
    transform: translateX(-5em) rotateY(90deg);
    background: lightgreen;
  }

  &_right {
    transform: translateX(5em) rotateY(90deg);
    background: yellowgreen;
  }
}